name: Test/Coverage with Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: sudo apt-get install -y python3-pip libsecp256k1-dev
      - run: python -m pip install --upgrade pip hatch
      - run: hatch run testing:test
        if: matrix.python-version != '3.11'
      - run: hatch run testing:cov
        if: matrix.python-version == '3.11'
      - uses: codecov/codecov-action@v4.0.1
        if: matrix.python-version == '3.11'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: aleph-im/aleph-sdk-python
